
</div>

<div id="preloader"></div>

 <div class="footer-padding "></div>
  <div class="footer fixed-bottom">
    <p>Powered By <a href="https://eadeveloping.web.app">Emir Atasoy</a>  2021 ©</p>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/changer.js"></script>


</body>
</html>
